@model Cumulative01.Models.Teacher;

<h1> Teacher_ID: <em> @Model.TeacherId </em> </h1>
<li> Teacher_First_Name: <em> @Model.TeacherFirstName </em> </li>
<li>Teacher_Last_Name: <em> @Model.TeacherLastName </em></li>
<li> Teacher_E.ID: <em> @Model.EmployeeID </em></li>>
<li>Employed since: <em> @Model.HireDate </em></li>
<li>Salary:<em> @Model.Salary </em></li>